<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154996921901-e9pc8nitblnl81dcqlsir83psjgdbmdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154996921901-e9pc8nitblnl81dcqlsir83psjgdbmdi</string>
	<key>API_KEY</key>
	<string>AIzaSyCJk2CWra_J3U8Hiu7hg_fbIjYusqahtFI</string>
	<key>GCM_SENDER_ID</key>
	<string>154996921901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alvin.task2</string>
	<key>PROJECT_ID</key>
	<string>task2-1cebd</string>
	<key>STORAGE_BUCKET</key>
	<string>task2-1cebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154996921901:ios:240c003bc329625902caa4</string>
</dict>
</plist>